<%- include('partials/header.ejs') %>
<h1>ALL ABOUT Everything</h1>
<%- include('partials/footer.ejs') %>

<!-- essentially a read.me page that tells users what this webpage is all about. a search engine after we do api to do some kind of search for cute puppies or a random puppy selector? idk i want a search engine somewhere on this website. -->