<%- include('partials/header.ejs') %>
<h1>Follow My blog or add a comment!</h1>
<%- include('partials/footer.ejs') %>

<!-- add link to blog Medium ...can viewers see my medium page directly here? or do i have to have content and include the medium link. I'd like to make this page interactive to include a comment box where users can add  comments or ask questions on the blog about the BLOG only tbc/tbd lolz
--new entries on blog:
- websites ive found helpful
--retract google comments
--things ive found cumbersome and tools that helped.
--compare & contrast youtube tutorials and how effective they are.. some of my faves suugested follows and ones to avoid!
-->