<%- include('partials/header.ejs') %>

<div class="card bg-dark text-dark">
        <!-- insert more pics as a slide with 30 second intervals and arrows to navigate on the left & right of pics (sample pics of each page) indicator at the bottom of card-->
        <img src="assets/puppy1.jpg" class="card-img" alt="puppy">
        <div class="card-img-overlay">
                <p class="card-text">Hello World, I love Puppies!</p>
        </div>
</div>

<!-- i want to add a game page somewhere so users can play some of the cool games and maybe a couple kahoot games on my website that help with learning some of the things i struggled with. But On my page without having to go to a separate link? to be determined ...im sure this is possible...the term "embed" comes to mind for google search embed games on my webpage from kahoot and maybe a couple games ive created on scratch. -->

<%- include('partials/footer.ejs') %>