<%- include('partials/header.ejs') %>
<h1>My JavaScript Projects</h1>
<%- include('partials/footer.ejs') %>

<!-- add bootstrap cards w/css grid layout with onclick pictures to each javascript project 3x4, text overlay with opaque background that describes each project  -->