
<h1>Weather Around the World Today</h1>
<h2>Here or There?</h2>

<form action="/results" method="get">
<button type="submit">San Francisco</button>
<button type="submit" formaction='/london'>London</button>
</form>