body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

p {
    color: black;
    background-color: aqua;
    border: solid black 1px;
    font-size: 20px;
}

div {
   text-align: center;
   background-color: pink;
}

.custom {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.button {
    border: black solid 1px;
    border-radius: 5px;
    margin: auto;
    background-color: skyblue;
    padding: 5px;
}

p {
    border-radius: 5px;
    padding: 5px
}


.custom #unique {
    font-weight: normal;
}

