<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Puppy Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
<form class="container" action="/getImage" method="GET" >
  
    <input id="btn" type="submit" value="Click for Image">
    <!--<form action="input" method="get">Pick a breed</form>-->
    <h1>Random Puppy Generator</h1>
    
    <img id="pic" src=<%= image %>  alt="Dog">

</form>


    </body>
</html>